@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
body {
  background-color: #a3ffab66;
	font-family: "Roboto", sans-serif;
}

.shadow {
	box-shadow: 0 40px 85px rgba(221, 124, 124, 0.216) !important;
}

.profile-tab-nav {
	min-width: 250px;
}

.tab-content {
	flex: 1;
}

.form-group {
	margin-bottom: 1.5rem;
}

.nav-pills a.nav-link {
	padding: 15px 20px;
	border-bottom: 1px solid #ddd;
	border-radius: 0;
	color: #333;
}
.nav-pills a.nav-link i {
	width: 20px;
}

.img-circle img {
	height: 250px;
	width: 350px;
	border-radius: 50%;
	border: 5px solid #000000;
}


 
